*{box-sizing: border-box;}
body{
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}
h1, h2, h4{font-family: 'Raleway', sans-serif;}
h2{font-size: 1.7em;}
.container{
    padding: 20px;
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
img{max-width: 100%;}
.flex > div{flex: 1;}
.flex > div:first-child{
    margin-right: 20px;
}
.flex > div:last-child{
    margin-left: 20px;
}
.greenclr{color: hsl(170, 45%, 43%);}
/* nav styling */
nav{display: flex;justify-content: space-between;align-items: center;margin: 30px 0;}
nav ul{list-style: none; padding: 0;display: flex;}
nav li{margin-left: 30px;}
nav ul li a{text-decoration: none;color: hsl(0, 0%, 75%);}

/* form styling */
form{
   display: flex;
   justify-content: space-between;
}

input{
   border: 1px solid hsl(243, 87%, 12%);
   border-radius: 2px;
   padding: 15px;
   flex: 0.7;
}

button{
   border: 1px solid hsl(243, 87%, 12%);
   border-radius: 2px;
   padding: 15px;
   background-color: hsl(224, 93%, 58%);
   color: #fff;
   flex: 0.3;
   margin-left: 10px;
}
/* lightGrey styling */
.greishBlue{background-color:hsl(240, 75%, 98%);
    position: relative;
    margin-top: 100px;}
.greishBlue::before{
    content: "";
    background-image: url('../images/bg-curve-desktop.svg');
    width: 100%;
    height: 60px;
    top: -60px;
    background-size: cover;
    left: 0;
    position: absolute;
}
.textimonialText{
    background-color: #fff;
    box-shadow: 0 0 10 rgb(0, 0, 0.5);
    border-radius: 5px;
    padding: 25px;
    width: 80%;
    margin-top: 40px;
    line-height: 1.5;
}
.testimonialText p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.7;
}
.userInfo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.userInfo h4{
    margin: 0;
    font-weight: 700;
}

.userInfo{
     display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
/* blueishGrey styling */
.blueishGrey{
    background-color: hsl(238, 22%, 44%);
    color: #fff;
    padding: 50px 0;
}
.blueishGrey form{
    display: flex;
    flex-direction: column;
}
.blueishGrey input{
    flex: 1;
    border: none;
}
.blueishGrey button{
    width: 50%;
    margin: 20px 0;
    border: none;
}
footer{background-color: hsl(243, 87%, 12%);font-size: 14px;line-height: 3;}
footer ul{list-style: none;padding: 0;}
footer ul li{color: #fff;}
footer ul li a{text-decoration: none;color: #fff;}
footer > div > div {
    justify-content: space-between;
}
footer ul li img{margin-right: 20px;}
.socialMedia{display: flex;justify-content: space-between;}
.socialMedia a{margin-left: 20px;padding: 5px;}
.circle{border: 1px solid #fff; border-radius: 50%;}
.alignItemsFlexStart{align-items: flex-start;}

/* media query */
@media (max-width: 768px){
    .flex{
        flex-direction: column;
    }
    .flex > div{flex: 0;}
.flex > div:first-child{
    margin-right: 0;
}
.flex > div:last-child{
    margin-left: 0;
}
 
 form{
   flex-direction: column;
   
}

input{
   margin-bottom: 10px;
}

button{
    margin-left: 0;
}
.textimonialText{
    width: 100%;
    
}
.blueishGrey button{
    width: 100%;
   
}
.displayInline{
    flex-direction: row!important;
}
.socialMedia{
    margin: 0 auto;
}

}